:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-weight: 400;
  --body-base-font-size: 16px;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-base-font-style: normal;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-danger-default: var(--color-primitives-red-700);
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
  --color-border-danger-default: var(--color-primitives-red-700);
  --color-border-neutral-secondary: var(--color-primitives-slate-600);
  --size-radius-100: 4px;
  --size-space-200: 8px;
  --size-space-400: 16px;
  --size-space-300: 12px;
  --size-radius-200: 8px;
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-red-700: rgba(144, 11, 9, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-red-200: rgba(253, 211, 208, 1);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-slate-300: rgba(205, 205, 205, 1);
  --color-primitives-slate-600: rgba(118, 118, 118, 1);
  --color-primitives-slate-1000: rgba(36, 36, 36, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-danger-default: var(--color-primitives-red-700);
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
  --color-border-danger-default: var(--color-primitives-red-700);
}

[data-color-mode="SDS-dark"] {
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-text-danger-default: var(--color-primitives-red-200);
  --color-background-brand-default: var(--color-primitives-brand-100);
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-background-neutral-tertiary-hover: var(--color-primitives-slate-1000);
  --color-border-danger-default: var(--color-primitives-red-200);
}